<div class="card p-0 ml-1 mr-1 mb-2 courseCard">
    <div class="card-header">
        <u>
            <a href="#" class="card-link text-dark font-weight-bold font-italic courseName"></a>
        </u>
    </div>
    <div class="card-body p-1">
        <p class="card-text content"></p>
        <p class="card-text text-center align-self-end">
            <small class="text-muted footer ">
                <a href="#" class="badge badge-primary canvasLink">View in Canvas</a>
            </small>
        </p>
    </div>
</div>