<div class="modal fade" id="loginDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <h4>
                    <span class="glyphicon glyphicon-lock"></span> Login</h4>
                <button type="button" class="close" data-dismiss="modal" id="dialogLogCloseBytton">&times;</button>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form">
                    <div class="form-group">
                        <label for="usrname"> Username</label>
                        <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="psw"> Password</label>
                        <input type="password" class="form-control" id="psw" placeholder="Enter password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked>Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" id="dialogLogin">Login</button>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"> Cancel</button>
                <div class="container">
                    <p class="text-right">Not a member?
                        <a id="dialogSignUp">Sign Up</a>
                    </p>
                    <p class="text-right" id="dialogForgetPassword">
                        <a href="#">Forgot Password?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>