<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand btn bg-warning text-muted" href="/" role="button">EEs
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarColor03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="" id="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" id="mySpace">My Space</a>
            </li>
        </ul>
        <span class="navbar-text font-weight-bold font-italic bg-info text-white p-2 rounded" id="memberInfo"> </span>
        <button type="button" class="btn btn-secondary ml-1 btn-warning d-none" id="logout">Log Out</button>
    </div>
</nav>