doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="//code.jquery.com/jquery-3.2.1.min.js")

    block extraScript
  body
    block content