extends layout


block content
   h1="Process uuid: "+processUuid
   h3="Process Uptime: "+processUpTime+" hour(s)"
   h3="System Load Avg: "+loadAvg
   h3="System Uptime: "+upTime+" hour(s)"
   h3="Network Access: "+networkAccess
   br
   h2="Back-End Version: "+ version
